body {
    background-color: white;
}
h1 {
	font-family: "Verdana",sans-serif;
    color: navy;
}
h5 {
	font-family: "Verdana",sans-serif;
    color: navy;
}
p {
	font-family: "Verdana",sans-serif;
    color: navy;
}

a{
	font-family: "Verdana",sans-serif;
	color: navy;
}
